#联查summary
select* from summary where callid='[callid]'
#远程调用统计
select * from summary where  remotecallmethod not like '%getServerTime' and  remotecallmethod not like '%getMasterName' and rownum<1000 order by costtime desc 
#流量测试汇总
select sum(writetoclientbytes) as 下行量,sum(readfromclientbytes) as 上行量,sum(writetoclientbytes)+sum(readfromclientbytes) as 总流量, count(*) as 连接数 from summary where (remotecallmethod not like '%getServerTime' and  remotecallmethod not like '%getMasterName' )
#sql统计
select  msg,costtime,rowcount,ts,callid from logdetail  where filename like '%msql%' and rownum<1000 order by rowcount desc
#报错信息统计
select  msg,server,ts,remotecall,callid from logdetail where debuglevel='ERROR' and rownum<1000 order by ts desc
#执行方法统计
select  msg,costtime,flowsize,ts,callid from logdetail where msg like '%begin method%' or msg like '%end method%' order by callid
#STATMENT统计
select  msg,costtime,callid from logdetail where msg like '%Statement%' and costtime>0  and rownum<1000 order by callid
#jvm
select  * from jvmlog order by servername,ts desc
#CPU
select   * from cpulog order by server,ts desc
#内存
select  * from memorylog order by server,ts desc
#监控消息
select * from message order by ts desc 
#快照信息
select message.ts,message.message,message.service,message.snapshotfile,snapshot.content  from snapshot left   join  message on  snapshot.snapshotid=message.snapshotid where message.snapshotfile<>'N/A' order by message.ts desc
#操作员
select * from operator
#删除操作员
delete from operator
#<link>联查summary
select* from summary where callid='[callid]'
#<link>联查sql
select msg,costtime,rowcount,ts,callid from logdetail  where filename like '%msql%' and callid='[callid]' order by rowcount desc
#<link>联查日志详细
select  ts,server,msg,costtime,flowsize from logdetail where callid='[callid]' and (filename not like '%msql%' and filename not like '%mwsummary%') and rownum<1000  order by callid
#<link>联查客户端日志
select * from clientlog where callid='[callid]'
#end
